.home-container {
    display: flex;
    justify-content: center;
    background-color: var(--clr-primary-light);
    min-height: 100vh;
    border: 2px solid green;
    align-items: center;
    gap: 1em;
}

.options {
    display: flex;
    flex-direction: column;
    height: 75vh;
    padding: 2em;
    gap: 1em;
    width: 40%;
    min-width: 500px;
    margin: 2em 0;
    border-radius: 50px;
}

.home-title {
    text-align: center;
    font-size: var(--primary-heading-font-size);
}

.home-secondary-title {
    text-align: center;
    font-size: var(--secondary-heading-font-size);
}

.home-tertiary-title {
    text-align: center;
    font-size: var(--tertiary-heading-font-size);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-light-background);
    margin: 0 auto;
    padding: 1em;
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
