.container {
  margin: 1em;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;  
  gap: 0.5em;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  min-width: 500px;
  max-width: 50%;
  border-radius: 50px;
}

.content {
    flex: 2;  
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
    padding: 2em;
    min-width: 500px;
    background-color: var(--clr-light-background);
}

.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}


.home-title {
  text-align: center;
  font-size: var(--primary-heading-font-size);
}

.home-secondary-title {
  text-align: center;
  font-size: var(--secondary-heading-font-size);
}

.home-tertiary-title {
  text-align: center;
  font-size: var(--tertiary-heading-font-size);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-light-background);
  margin: 0 auto;
  padding: 2em;
  width: 85%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}